/*
	Theme Name: History
	Created : 
	Updated : 
	Version: 1.0

*/
/* ========================================================================== */
/* ========================================================================== */
							/* [Table of contents] */
/* ========================================================================== */
/* ========================================================================== */

/*	
	+ Global
		- Padding/Margin
		
	+ Fonts Settings
		- Lora : font-family: 'Lora', serif;
		- PTSerif : font-family: 'PT Serif', serif;
		- Poppins : font-family: 'Poppins', sans-serif;
		- Roboto : font-family: 'Roboto', sans-serif;

	+ Header

	+ Footer
	
	+ Page Banner
	
	+ Section Header
	
	+ Responsive		
		- min-width: 1200
		- min-width: 992
		- min-width: 768
		- max-width: 1200
		- min-width: 992 to max-width: 1199		
		- max-width: 991
		- min-width: 768 to max-width: 991
		- max-width: 767
		- max-width: 639
		- max-width: 479
*/

/* ## Global */

body {
	font-family: 'PT Serif', serif;
	font-size: 14px;
	color: #000;
	overflow-x: hidden;
}
img {
    max-width: 100%;
	height: auto;
}
a {
    outline: 0 !important;
}


/* - Padding/Margin */
.no-padding {
	padding: 0;
}
.no-left-padding{
	padding-left: 0;
}
.no-right-padding {
	padding-right: 0;
}
.no-top-padding {
	padding-top: 0;
}
.no-bottom-padding {
	padding-bottom: 0;
}
.no-margin {
	margin: 0;
}
.no-left-margin {
	margin-left: 0;
}
.no-right-margin {
	margin-right: 0;
}
.no-top-margin {
	padding-top: 0;
}
.no-bottom-margin {
	margin-bottom: 0;
}

/* - OW pull-left/pull-right */
.ow-pull-left  {
	float: left;
}
.ow-pull-right  {
	float: right;
}

/* -- Section Padding */
.section-padding {
	padding-top: 75px;
	padding-bottom: 75px;
}
.padding-10 {
	padding-top: 5px;
	padding-bottom: 5px;
}
.padding-20 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.padding-30 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.padding-40 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.padding-50 {
	padding-top: 25px;
	padding-bottom: 25px;
}
.padding-60 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.padding-70 {
	padding-top: 35px;
	padding-bottom: 35px;
}
.padding-80 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.padding-90 {
	padding-top: 45px;
	padding-bottom: 45px;
}
.padding-100 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.main-container {
	width: 1920px;
	max-width: 100%;
	margin: 0 auto;
	overflow-x: hidden;
}

/* + Header */
.header-section {
	background-color: #fff;
}
.header-section .container {
	position: relative;
}

/* - Top Header */
.top-header {
	text-align: left;
}
.top-header .top-content {
	float: right;
	background-color: #000;
	width: auto;
	position: relative;
	padding-right: 115px;
}
.top-header .top-content::after {
	content: "";
	position: absolute;
	left: -1px;
	top: 0;
	bottom: 0;
	border-bottom: 60px solid #fff; 
	border-right: 40px solid transparent;
	z-index: 1;
}
.top-header .top-content::before {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 50%;
	background-color: #2a2a2a;
}
.top-header .top-content > a {
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	float: left;
	padding: 18px 35px 10px 53px;
	text-decoration: none;
	text-align: left;
}
.top-header .top-content > a:hover {
	color: #e2b13c;
}
.top-header .top-content > a i {
	padding-right: 15px;
	color: #e2b13c;
}
.top-icons {
	background-color: #2a2a2a;
	float: left;
	position: relative;
}
.top-header .top-icons ul {
	padding-left: 0;
	margin-bottom: 0;
}
.top-header .top-icons ul,
.top-header .top-icons ul li {
	float: left;
	list-style: none;
}
.top-header .top-icons ul li {
	border-right: 1px solid #a5a5a5;
}
.top-header .top-icons ul li a {
	float: left;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
}
.top-header .top-icons ul li a:hover {
	color: #e2b13c;
}
.top-header .top-icons h5 {
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: #e2b13c;
	margin: 18px 0 11px 40px;
	line-height: 27px;
}
.top-header .top-icons h5 span {
	color: #fff;
}
.header-section.navbar-fixed-top {
	border-bottom: 1px solid #a5a5a5;
	z-index: 301;
}
.header-section.navbar-fixed-top .top-header {
	display: none;
}

/* - Search */
.search-box {
	background-color: #f7f6f7;
	padding: 15px;
	position: absolute;
	right: 15px;
	top: 100%;
	width: 620px;
	max-width: 100%;
	opacity: 0;
	transform: scaleY(0);
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform-origin: 0 0 0;
	transition: all 0.4s ease-in-out 0s;
	z-index: 101;
}
.search-box.active {
	opacity: 1;
	transform: scaleY(1);
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-ms-transform: scaleY(1);
	visibility: visible;
}
.search-box form {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	display: block;
}
.search-box form input {
	background-color: transparent;
	box-shadow: none;
	border: none;
	border-radius: 0;
	color: #212121;
	font-size: 16px;
	font-style: italic;
	height: auto;
}
.search-box form input:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	outline: none;
	border-color: #fff;
}
.search-box span {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
}
.search-box span i {
	font-size: 15px;
	color: #212121;
	float: right;
	margin: 5px;
}

.search-box  .searchform .btn{
	display: none;
}

/* + Footer */
.footer-main {
	background-color: #111;
	padding: 65px 0 0;
}
.footer-main .logo-block {
	padding: 70px 0;
	text-align: center;
	border-bottom: 1px solid #222222;
	margin-bottom: 40px;
}
.footer-main .ftr-widget {
	margin-bottom: 80px;
	display: inline-block;
}
.footer-main .widget_about a.navbar-brand {
	float: none;
	height: auto;
	padding: 0;
}
.footer-main .widget_about p {
	color: #a5a5a5;
	font-size: 14px;
	font-family: 'PT Serif', serif;
	letter-spacing: 0.28px;
	line-height: 26px;
	padding-right: 35px;
	margin-bottom: 25px;
	margin-top: 25px;
}
.footer-main .widget_about ul {
	padding-left: 0;
	margin-bottom: 0;
}
.footer-main .widget_about ul li {
	display: inline-block;
	margin-right: 6px;
}
.footer-main .widget_about ul li a {
	color: #a5a5a5;
	display: inline-block;
	background-color: #000;
	border-radius: 100%;
	height: 39px;
	width: 39px;
	line-height: 39px;
	text-align: center;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.footer-main .widget_about ul li a:hover {
	background-color: #e2b13c;
	color: #111;
}
.footer-main h3.widget-title {
	color: #fff;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	margin-top: 20px;
	margin-bottom: 30px;
	line-height: 26px;
	letter-spacing: 0.64px;
	padding-bottom: 30px;
}
.footer-main h3.widget-title::before {
	background-color: #e2b13c;
    border-right: 4px solid #fff;
    box-shadow: -3px 0 0 0 #111 inset;
    content: "";
    display: inline-block;
    height: 2px;
    bottom: 0;
    position: absolute;
    width: 60px;
}
.footer-main .widget_link ul {
	padding-left: 0;
	list-style: none;
}
.footer-main .widget_link ul li {
	margin-bottom: 22px;
}
.footer-main .widget_link ul li.col-md-6 {
	padding-left: 0;
}
.footer-main .widget_link ul li a {
	color: #909090;	
	font-family: 'PT Serif', serif;
	font-size: 15px;
	letter-spacing: 0.3px;
	text-transform: capitalize;
	text-decoration: none;
}
.footer-main .widget_link ul li a:hover {
	color: #e2b13c;
}
.footer-main .copyright {
	border-top: 1px solid #2d2d2d;
	padding: 23px 0;
	text-align: center;
	background-color: #111;
	color: #8f8f8f;
}
.footer-main .copyright p {
	font-family: 'PT Serif', serif;
	font-size: 14px;
	margin-bottom: 0;
	letter-spacing: 0.28px;
	text-transform: capitalize;
}
/*
.footer-main .widget_subscribe .form-control {
	background-color: #000;
	border: none;
	box-shadow: none;
	border-radius: 0;
	display: inline-block;
	font-family: 'PT Serif', serif;
	font-style: italic;
	font-size: 12px;
	height: 45px;
	padding: 6px 30px;
	letter-spacing: 0.48px;
	margin-bottom: 20px;
	width: 100%;
}
.footer-main .widget_subscribe .form-control::-webkit-input-placeholder {
   color: #777;
}
.footer-main .widget_subscribe .form-control:-moz-placeholder { 
   color: #777; 
}
.footer-main .widget_subscribe .form-control::-moz-placeholder {
   color: #777;
}
.footer-main .widget_subscribe .form-control:-ms-input-placeholder {  
   color: #777; 
}
.footer-main .widget_subscribe .form-control:focus {
	border-color: #000;
}
.footer-main .widget_subscribe button {
	background-color: #e2b13c;
	border: none;
	border-radius: 0;
	color: #111;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 0.84px;
	padding: 12px 0;
	text-transform: uppercase;
	text-decoration: none;
	width: 100%;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
	outline: transparent auto 0px !important;
}
.footer-main .widget_subscribe button:hover {
	background-color: #000;
	color: #e2b13c;
}
*/

/* ## Redesign of widget */
.footer-main .widget {
	margin-bottom: 80px;
}
/* - Text Widget */
.footer-main .widget_text.widget {
	margin-bottom: 0;
}
.footer-main .widget_text .textwidget .navbar-brand {
	float: none;
	padding: 0;
	height: auot;
}
.footer-main .widget_text .textwidget p {
	color: #a5a5a5;
	font-family: "PT Serif",serif;
	font-size: 14px;
	letter-spacing: 0.28px;
	line-height: 26px;
	margin-bottom: 25px;
	margin-top: 25px;
	padding-right: 35px;
}

/* - Social Widget */
.footer-main  .widget_social_icons ul {
	margin-bottom: 0;
    padding-left: 0;
}
.footer-main .widget_social_icons ul li {
	display: inline-block;
	margin-right: 6px;
}
.footer-main .widget_social_icons ul li:last-of-type {
	margin-right: 0;
}
.footer-main .widget_social_icons ul li a {
    background-color: #000;
    border-radius: 100%;
    color: #a5a5a5;
    display: inline-block;
    height: 39px;
    line-height: 39px;
    text-align: center;
    transition: all 1s ease 0s;
    width: 39px;
}
.footer-main .widget_social_icons ul li a:hover {
	background-color: #e2b13c;
	color: #111;
}

/* - Nav Widget */
.footer-main .widget_nav_menu ul {
	padding-left: 0;
	margin-bottom: 0
}
.footer-main .widget_nav_menu ul li {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
.footer-main .widget_nav_menu ul li:last-of-type {
	margin-bottom: 0;
}
.footer-main .widget_nav_menu ul li a {
    color: #909090;
    font-family: "PT Serif",serif;
    font-size: 15px;
    letter-spacing: 0.3px;
    text-decoration: none;
    text-transform: capitalize;
	word-wrap: break-word;
}
.footer-main .widget_nav_menu ul li a:hover {
	color: #e2b13c;
}

/* - Newsletter */
.widget_mc4wp_form_widget .mc4wp-form-fields label {
	display: none;
}
.widget_mc4wp_form_widget .mc4wp-form-fields input {
	background-color: #000;
	border-radius: 0;
	-webkit-box-shadow: none;
	-webkit-appearance: none;
	box-shadow: none;
	display: inline-block;
	font-family: "PT Serif",serif;
	font-size: 12px;
	font-style: italic;
	height: 45px;
	letter-spacing: 0.48px;
	line-height: 24px;
	margin-bottom: 20px;
	padding: 6px 30px;
	width: 100%;
	color: #fff;
	outline: transparent auto 0px !important;
	border: 1px solid transparent;
}
.widget_mc4wp_form_widget .mc4wp-form-fields input[type="submit"] {
	background-color: #e2b13c;
	border: none;
	border-radius: 0;
	color: #111;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 12px;
	font-style: normal;
	letter-spacing: 0.84px;
	padding: 12px 0;
	text-transform: uppercase;
	text-decoration: none;
	width: 100%;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
	outline: transparent auto 0px !important;
	
}
.widget_mc4wp_form_widget .mc4wp-form-fields input::-webkit-input-placeholder {
   color: #fff;
}
.widget_mc4wp_form_widget .mc4wp-form-fields input:-moz-placeholder { 
   color: #fff; 
}
.widget_mc4wp_form_widget .mc4wp-form-fields input::-moz-placeholder {
   color: #fff;
}
.widget_mc4wp_form_widget .mc4wp-form-fields input:-ms-input-placeholder {  
   color: #fff; 
}
.widget_mc4wp_form_widget .mc4wp-form-fields input:focus {
	border-color: #fff;
}
.widget_mc4wp_form_widget .mc4wp-form-fields input[type="submit"]:hover {
	background-color: #000;
	color: #e2b13c;
}



/* + Section Header */
.section-header {
	display: inline-block;
	width: 100%;
	position: relative;
	margin-bottom: 35px;
}
.section-title-border {
	position: relative;
	display: inline-block;
	padding: 14px 40px 13px 0;
	z-index: 1;
}
.section-title-border::before {
	border: 6px solid #f0efef;
	bottom: 0;
	content: "";
	display: inline-block;
	position: absolute;
	left: 40px;
	right: 0;
	top: 0;
	z-index: -1;
}
.section-header span,
.section-header2 span {
	font-family: 'Lora', serif;
	font-size: 20px;
	font-style: italic;
	color: #e2b13c;
	word-wrap: break-word;
	line-height: 36px;
	font-weight: 600;
}
.section-header h2,
.section-header2 h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: #222222;
	letter-spacing: 0.64px;
	margin-bottom: 0;
	margin-top: 7px;
	text-transform: uppercase;
}
.section-header2 {
	text-align: center;
	margin-bottom: 55px;
}
.section-header2 i {
	display: block;
	margin-bottom: 15px;
}



/* + Page Banner */
.page-banner {
	background-image: url("../images/page-banner-bg.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding: 100px 0 90px;
}
.page-banner h3 {
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 85px;
	text-transform: uppercase;
	word-wrap: break-word;
}

/* Pagination */
.pagination {
	display: inline-block;
	width: 100%;
	background-color: transparent;
	margin: 0;
	text-align: center;
}

.pagination .page-numbers {
	border: 2px solid #000;
	color: #000;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	width: 37px;
	height: 37px;
	line-height: 35px;
	border-radius: 100%;
	padding: 0;
	text-align: center;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	display: inline-block;
	margin: 0 4px;
	text-decoration: none;
}
.pagination .page-numbers.current,
.pagination .page-numbers:hover {
	background-color: #e2b13c;
	border-color: #e2b13c;
	color: #fff;
}
.pagination .page-numbers.prev,
.pagination .page-numbers.next {
	border: none;
	background-color: transparent;
	color: #000;
	width: auto;
}
	
/* ========================================================================== */
/* ========================================================================== */
							/* [ + Responsive ] */
/* ========================================================================== */
/* ========================================================================== */

/* -- min-width: 1200 */
@media (min-width: 1200px) {
	.container {
		width: 1500px;
	}
}

/* -- min-width: 992 */
@media (min-width: 992px) {
	
}

/* -- min-width: 768 */
@media (min-width: 768px) {
	
}

/* -- max-width: 1200px */
@media (max-width: 1200px) {
	
}

/* -- min-width: 992 to max-width: 1199 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.top-header .top-content {
		padding-right: 15px;
	}
}

/* -- max-width: 991 */
@media (max-width: 991px) {
	/* - Top Header */
	.top-header .top-content {
		padding: 0;
		text-align: center;
		width: 100%;
	}
	.top-header .top-content > a {
		float: none;
		display: inline-block;
		padding-left: 35px;
	}
	.top-header .top-content::after,
	.top-header .top-content::before {
		display: none;
	}
	.top-header .top-icons {
		width: 100%;
	}
	.top-header .top-icons h5 { 
		margin-left: 15px;
		margin-right: 15px;
	}
	
	/* + Footer */
	.footer-main .row > .col-md-4:nth-child(2n+1) {
		clear: both;
	}
	.footer-main .ftr-widget {
		margin-bottom: 40px;
	}
}

/* -- min-width: 768 to max-width: 991 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.top-header .top-icons {
		text-align: right;
	}
}

/* -- max-width: 767 */
@media (max-width: 767px) {	
	/* + Page Banner */
	.page-banner h3 { 
		font-size: 40px;
	}
	
	/* - Footer Widgets */
	.footer-main .widget {
		margin-bottom: 10px;
	}
	
}

/* --  max-width: 639 */
@media (max-width: 639px) {
	/* - Section Header */
	.section-header h2 {
		font-size: 25px;
		margin-bottom: 5px;
	}
	.top-header .top-icons {
		text-align: center;
	}
	.top-header .top-icons ul {
		width: 100%;
		border-bottom: 1px solid #a5a5a5;
	}
	.top-header .top-icons ul li {
		float: none;
		display: inline-block;
	}	
	.top-header .top-icons ul li:first-child {
		border-left: 1px solid #a5a5a5;
	}
	.top-header .top-icons ul li a {
		display: block;
		float: none;
	}
	.search-box { 
		left: 0;	
	}
	/* + Footer */
	.footer-main .widget_about p {
		padding-right: 0;
	}
	.footer-main .widget_about ul li {
		margin-right: 0;
	}
	
	.section-padding {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

/* --  max-width: 479 */
@media (max-width: 479px) {
	/* + Footer */
	.footer-main .row .col-xs-6 {
		width: 100%;
	}
	
}

.woocommerce form .form-row .input-checkbox {
	position: relative;
}